<div class="about">
    <div class="about-body">
    <h1>About Friend Space</h1>

    <p><b><i>Friend Space</i></b>, is a user friendly locker for the user where the user can store all the data or documents  like all his records from medical to his personal documents and can keep it secure with the password feature on it and which can only be accessed by the person and can share the data by downloading it and can also schedule daily bases task on the calender.</p>
    </div>

        <%= image_tag("about.png", style: "width: 400px") %>
    

</div>