<% @taskers.each do |tasker| %>
<% if tasker.user_id == current_user.id %>
    <p>
      <%= link_to  tasker do %>
       <div class="container mt-5 text-left">
         <%= tasker.title%> ||
        <%= tasker.start_time.strftime('%v %R %P')%>
       </div>
      <%end%>
    </p>
  <% end %>
  <% end %>