/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.simple-calendar {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 7px 15px 15px rgba(36, 34, 34, 0.4);
  border: 1px solid #fff;
  background-color: #fff;
  font-size: 17px;
  font-family: Arial, sans-serif;
  color: black;
}
.day {
  width: 15%;
  padding: 5px;
  border: 1px solid #ccc;
  text-align: center;
}
.dayCont {
  padding: 5px;
  text-align: center;
}

.dayCont .card-header-cal {
  color: #000 !important;
}

.dayCont .card-header-cal .cardTitle {
  font-size: 13px;
  color: rgb(0, 0, 0) !important;
}

.wday-0 {
  color: #f00 !important;
}
.wday-1 {
  color: #000;
}
.wday-2 {
  color: #000;
}
.wday-3 {
  color: #000;
}
.wday-4 {
  color: #000;
}
.wday-5 {
  color: #000;
}
.wday-6 {
  color: #f00 !important;
}

.today {
  color: blue !important;
}
.past {
}
.future {
  color: #000;
}

.start-date {
  background-color: rgb(112, 195, 206);
}

.prev-month {
  color: #ccc !important;
}
.next-month {
  color: #ccc !important;
}
.current-month {
  color: #000;
}

.has-events {
  border-bottom: 4px solid rgb(112, 195, 206) !important;
}

.calender-button {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 18px;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: 0.5s;
  box-shadow: 5px 15px 20px rgba(36, 34, 34, 0.4);
}

.calender-button:hover {
  background-color: #fff;
  color: #000;
  transition: 0.5s;
  box-shadow: 0px 15px 20px rgba(17, 17, 17, 0.4);
}

.event-button {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 18px;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: 0.5s;
  box-shadow: 5px 15px 20px rgba(36, 34, 34, 0.4);
}

.event-button:hover {
  background-color: #fff;
  color: #000;
  transition: 0.5s;
  box-shadow: 0px 15px 20px rgba(17, 17, 17, 0.4);
}

.event-button1 {
  background-color: red;
  border-radius: 20px;
  font-size: 18px;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: 0.5s;
  box-shadow: 5px 15px 20px rgba(36, 34, 34, 0.4);
}

.event-button1:hover {
  background-color: #fff;
  color: #000;
  transition: 0.5s;
  box-shadow: 0px 15px 20px rgba(17, 17, 17, 0.4);
}

/* Home  */

.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-container .home-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  padding-left: 1rem;
  position: sticky;
  top: 0;
  box-shadow: 7px 15px 15px rgba(36, 34, 34, 0.4);
  border: 1px solid #fff;
  background-color: #fff;
  /* top: 0; */
  border-radius: 10px;
  margin-top: 0.5rem;
}

.home-container .home-top h6 {
  font-size: 19px;
  font-style: italic;
  color: black;
  padding-right: 4rem;
}

.home-container .home-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1.5rem;
}

.home-container .home-side .home-pic {
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: 200px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  text-align: center;
  box-shadow: 7px 15px 15px rgba(36, 34, 34, 0.4);
  border: 1px solid #fff;
  background-color: #fff;
}

/*FOR DOCUMENT PAGE*/

.doc {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.doc .doc-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 1rem;
  position: sticky;
  padding-right: 1rem;
  top: 0;
  box-shadow: 7px 15px 15px rgba(36, 34, 34, 0.4);
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 0.5rem;
}

.doc .doc-top .doc-input {
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 0.4rem;
  border: 1px solid #ccc;
}

.doc .doc-top .doc-buttons {
  background-color: green;
  color: #fff;
  border-radius: 20px;
  font-size: 18px;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  border: none;
  transition: 0.5s;
  box-shadow: 5px 15px 20px rgba(36, 34, 34, 0.4);
}

.doc .doc-top .doc-buttons:hover {
  background-color: rgb(0, 0, 0);
  transition: 0.5s;
  box-shadow: 0px 15px 20px rgba(17, 17, 17, 0.4);
}

.doc .doc-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.doc .doc-container .doc-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 2rem;
  width: 235px;
  height: 250px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 7px 15px 15px rgba(36, 34, 34, 0.4);
  border: 1px solid #fff;
}

.doc .doc-container .doc-card .doc-card-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 0.4rem;
}

.doc .doc-container .doc-card .doc-card-button .doc-buttons1 {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 18px;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: 0.5s;
  box-shadow: 5px 15px 20px rgba(36, 34, 34, 0.4);
}

.doc .doc-container .doc-card .doc-card-button .doc-buttons1:hover {
  background-color: red;
  color: #fff;
  transition: 0.5s;
  box-shadow: 0px 15px 20px rgba(17, 17, 17, 0.4);
}

.doc .doc-container .doc-card .doc-card-button .doc-buttons2 {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 18px;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: 0.5s;
  box-shadow: 5px 15px 20px rgba(36, 34, 34, 0.4);
}

.doc .doc-container .doc-card .doc-card-button .doc-buttons2:hover {
  background-color: green;
  color: #fff;
  transition: 0.5s;
  box-shadow: 0px 15px 20px rgba(17, 17, 17, 0.4);
}

.doc .doc-add {
  position: fixed;
  right: 7%;
  bottom: 7%;
}

.doc .doc-add .doc-add-button {
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  /* font-size: 18px; */
  padding: 1rem;
  width: 70px;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: 0.5s;
  box-shadow: 5px 25px 20px rgba(36, 34, 34, 0.4);
}

.doc .doc-add .doc-add-button:hover {
  background-color: blue;
  color: #fff;
  transition: 0.5s;
  box-shadow: 0px 15px 20px rgba(17, 17, 17, 0.4);
}

/* new document  */

.new-doc-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-doc-container .new-doc-form {
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  box-shadow: 7px 15px 15px rgba(36, 34, 34, 0.4);
  border: 1px solid #fff;
}

.new-doc-container .new-doc-form h1 {
  margin-top: 0.5rem;
}

.new-doc-button {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 18px;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: 0.5s;
  box-shadow: 5px 15px 20px rgba(36, 34, 34, 0.4);
}
.new-doc-button:hover {
  background-color: #fff;
  color: #000;
  transition: 0.5s;
  box-shadow: 0px 15px 20px rgba(17, 17, 17, 0.4);
}

/* question */

.question-container {
  position: absolute;
  z-index: 1;
  /* left: 0; */
  background-color: rgb(235, 235, 235);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-container .question-form {
  width: 60%;
  height: 70%;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0 0 20px rgb(0 0 0 / 25%);
}

.question-container .question-form h1 {
  width: 100%;
  text-align: start;
  margin: 1rem 0 2rem 2.5rem;
}

.question-container .question-form .question-field {
  margin-bottom: 1rem;
}

.question-container .question-form .question-field .answer-field {
  margin-top: 1.5rem;
}

.question-container .question-form .question-field .answer-field .answer-label {
  font-size: 20px;
  font-style: bold;
  color: rgb(45, 48, 46);
}

.question-container .question-form .question-field .answer-field .answer-input {
  border: none;
  padding: 0.3rem;
  border-radius: 5px;
  outline: none;
  box-shadow: 5px 15px 20px rgba(36, 34, 34, 0.4);
}

.question-container .question-form .question-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 70%;
}

.question-container .question-form .question-bottom .question-button {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 18px;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: 0.5s;
  box-shadow: 5px 15px 20px rgba(36, 34, 34, 0.4);
}

.question-container .question-form .question-bottom .question-button:hover {
  background-color: #fff;
  color: #000;
  transition: 0.5s;
  transform: translateY(-5px);
  border: 1px solid #000;
  box-shadow: 0px 15px 20px rgba(17, 17, 17, 0.4);
}

.document-container {
  width: 100%;
  height: 100%;
}

/* navbar  */

.nav-index {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 15%;
  border-right: 1px solid #888;
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  border-bottom: 1px solid #888;

  box-shadow: 10px 5px 10px 3px #888;
  position: sticky;
  top: 5%;
  left: 0.5%;
  height: 80vh;
}

.nav-index .nav {
  margin-top: 1rem;
  margin-bottom: 2rem;
  transition: 1s;
}

.nav-index .nav:hover .nav-link {
  background-color: #000;
  color: #fff;
  transition: 1s;
  box-shadow: 10px 10px 5px -2px #888;
}

.nav-index .nav .nav-link {
  color: #000;
  transition: 1s;
}

.nav-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  border-right: 1px solid #888;
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  border-bottom: 1px solid #888;

  box-shadow: 10px 5px 10px 3px #888;
  position: sticky;
  top: 5%;
  left: 1%;
  height: 40vh;
}

.nav-login .nav {
  margin-top: 1rem;
  margin-bottom: 2rem;
  transition: 1s;
}

.nav-login .nav:hover .nav-link {
  background-color: #000;
  color: #fff;
  transition: 1s;
  box-shadow: 10px 10px 5px -2px #888;
}

.nav-login .nav .nav-link {
  color: #000;
  transition: 1s;
}

/* login */

.login-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 3.5rem;
}

.login-cont .login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 550px;
  background-color: #fff;
  box-shadow: 10px 15px 15px rgba(36, 34, 34, 0.4);
  border: 1px solid #fff;
}

.login-button {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 18px;
  padding: 0.4rem 0.7rem;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: 0.5s;
  box-shadow: 5px 15px 20px rgba(36, 34, 34, 0.4);
  border: 1px solid #000;
  margin-bottom: 0.5rem;
  text-align: center;
  width: 100px;
  margin-left: 1.5rem;
}

.login-button:hover {
  background-color: green;
  color: #fff;
  transition: 0.5s;
  border: 1px solid #fff;
  box-shadow: 0px 15px 20px rgba(17, 17, 17, 0.4);
}

.form-control {
  width: 300px !important;
}

/* Sign-up  */

.signup-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 3.5rem;
}

.sign-design {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sign-design .form-floating {
  margin-right: 3rem !important;
}

.signup-button {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 18px;
  padding: 0.4rem 0.7rem;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: 0.5s;
  box-shadow: 5px 15px 20px rgba(36, 34, 34, 0.4);
  border: 1px solid #000;
  margin-bottom: 0.5rem;
}

.signup-button:hover {
  background-color: blue;
  color: #fff;
  transition: 0.5s;
  border: 1px solid #fff;
  box-shadow: 0px 15px 20px rgba(17, 17, 17, 0.4);
}

/* forget button  */
.forget-button {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 18px;
  padding: 0.4rem 0.7rem;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: 0.5s;
  box-shadow: 5px 15px 20px rgba(36, 34, 34, 0.4);
  border: 1px solid #000;
  margin-bottom: 0.5rem;
}

.forget-button:hover {
  background-color: #fff;
  color: #000;
  transition: 0.5s;
  border: 1px solid #000;
  box-shadow: 0px 15px 20px rgba(17, 17, 17, 0.4);
}

/* profile */

.profile-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.profile-cont .profile-box:nth-child(1) {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 2rem;
  box-shadow: 7px 15px 15px rgba(36, 34, 34, 0.4);
  border: 1px solid #fff;
  border-radius: 20px;
}

.profile-cont .profile-box h1 {
  text-align: start;
  margin-top: 1rem;
  height: 120px;
}
.profile-cont .profile-box h5 {
  margin-bottom: 0.7rem;
}

/* edit auth  */

.edit-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.edit-cont .signup-edit-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  width: 100%;
  height: 100%;
  margin-top: 1.5rem;
}

.edit-cont .edit-design {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 3.5rem;
}

.edit-cont .edit-design .delete-acc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  height: 350px;
  box-shadow: 7px 15px 15px rgba(36, 34, 34, 0.4);
  border: 1px solid #fff;
  border-radius: 15px;
}

.edit-cont .edit-design .delete-acc h3 {
  text-align: start;
  margin-top: 1rem;
  height: 70px;
}

.edit-cont .edit-design .delete-acc .edit-buttons {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 18px;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: 0.5s;
  box-shadow: 5px 15px 20px rgba(36, 34, 34, 0.4);
}

.edit-cont .edit-design .delete-acc .edit-buttons:hover {
  background-color: red;
  color: #fff;
  transition: 0.5s;
  box-shadow: 0px 15px 20px rgba(17, 17, 17, 0.4);
}

.edit-cont .edit-design .delete-acc .edit-buttons1 {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 18px;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: 0.5s;
  box-shadow: 5px 15px 20px rgba(36, 34, 34, 0.4);
}

.edit-cont .edit-design .delete-acc .edit-buttons1:hover {
  background-color: #fff;
  color: #000;
  transition: 0.5s;
  box-shadow: 0px 15px 20px rgba(17, 17, 17, 0.4);
}

/* task new  */

.task-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.task-new .task-new-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 550px;
  height: 500px;
  box-shadow: 7px 15px 15px rgba(36, 34, 34, 0.4);
  border: 1px solid #fff;
  border-radius: 20px;
}

.task-new .task-new-box h1 {
  text-align: start;
  margin-top: 1rem;
  height: 25px;
}

.task-add {
  position: fixed;
  right: 7%;
  bottom: 7%;
}

.task-add .task-add-button {
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  /* font-size: 18px; */
  padding: 1rem;
  width: 70px;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: 0.5s;
  box-shadow: 5px 10px 15px rgba(36, 34, 34, 0.5);
}

.task-add .task-add-button:hover {
  background-color: blue;
  color: #fff;
  transition: 0.5s;
  box-shadow: 0px 15px 20px rgba(17, 17, 17, 0.4);
}

.task-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.task-show .task-show-design {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
  height: 550px;
  box-shadow: 7px 15px 15px rgba(36, 34, 34, 0.4);
  border: 1px solid #fff;
}

.task-show .task-show-design h1 {
  text-align: start;
  margin-top: 1rem;
  height: 105px;
}

.task-show .task-show-design .task-button-sec {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  width: 390px;
}

.task-show .task-show-design .task-button-sec .task-show-button {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 18px;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  color: #fff;
  border: 1px solid #000;
  transition: 0.5s;
  box-shadow: 5px 15px 20px rgba(36, 34, 34, 0.4);
}
.task-show .task-show-design .task-button-sec .task-show-button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  transition: 0.5s;
  box-shadow: 0px 15px 20px rgba(17, 17, 17, 0.4);
}

.task-show .task-show-design .task-button-sec .task-show-button1 {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 18px;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: 0.5s;
  box-shadow: 5px 15px 20px rgba(36, 34, 34, 0.4);
}
.task-show .task-show-design .task-button-sec .task-show-button1:hover {
  background-color: red;
  color: #fff;
  transition: 0.5s;
  box-shadow: 0px 15px 20px rgba(17, 17, 17, 0.4);
}

.task-show .task-show-design .task-edit {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
}

.task-show .task-show-design .task-show-button2 {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 18px;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: 0.5s;
  box-shadow: 5px 15px 20px rgba(36, 34, 34, 0.4);
}
.task-show .task-show-design .task-show-button2:hover {
  background-color: blue;
  color: #fff;
  transition: 0.5s;
  box-shadow: 0px 15px 20px rgba(17, 17, 17, 0.4);
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.about .about-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 450px;
  height: 400px;
  background-color: #fff;
  box-shadow: 7px 15px 15px rgba(36, 34, 34, 0.4);
  border: 1px solid #fff;
  border-radius: 20px;
}

.about .about-body h1 {
  text-align: start;
  margin-top: 1rem;
  height: 75px;
}

.about .about-body p {
  width: 70%;
  font-weight: 400;
}
