/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.simple-calendar {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: black;
  background-color: #fff;
}
.day {
  width: 15%;
  padding: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

.dayCont {
  padding: 5px;
  text-align: center;
}

.dayCont .card-header-cal {
  background-color: rgb(189, 194, 193);
  color: #fff;
}

.dayCont .card-header-cal .cardTitle {
  font-size: 13px;
  color: #fff;
}

.wday-0 {
  color: #f00;
}
.wday-1 {
  color: #000;
}
.wday-2 {
  color: #000;
}
.wday-3 {
  color: #000;
}
.wday-4 {
  color: #000;
}
.wday-5 {
  color: #000;
}
.wday-6 {
  color: #f00;
}

.today {
  background-color: rgb(0, 0, 0);
  color: #fff;
}
.past {
  color: #ccc;
}
.future {
  color: #000;
}

.start-date {
  background-color: rgb(112, 195, 206);
}

.prev-month {
  color: #ccc;
}
.next-month {
  color: #ccc;
}
.current-month {
  color: #000;
}

.has-events {
  background-color: rgb(112, 195, 206);
}
